html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #0d1117;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 60px;
}

.main-container {
    min-height: 55vh;
}

.swal2-icon {
    width: 100%;
    height: 100%;
    margin: 10px 0;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 500px;
    }
}