.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
}

.login-section-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tgme_widget_login_button {
    background-color: #f0c419 !important;
}

.terms-section {
    font-size: 0.9rem;
    color: #8b949e;
    margin-top: 15px;
}

.login-section-wrapper a {
    color: #f0c419;
    text-decoration: none;
}

.referrer-wrapper {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 10px 20px 20px;
    margin-bottom: 20px;
}

.referrer-wrapper p {
    font-weight: 900;
}

.referrer-info-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.referrer-img-wrapper {
    width: 40px;
    height: 40px;
}

.referrer-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.referrer-username {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.referrer-notice {
    font-size: 0.9rem;
    color: #8b949e;
    margin-top: 15px;
}

@media screen and (max-width: 820px) {
    .login-section-wrapper {
        width: 100%;
        padding: 0 10px;
    }
}