.icon {
    color: #242e38;
}

.profile-section {
    min-height: 55vh;
    display: flex;
    gap: 50px;
}

.profile-section-main-wrapper {
    display: flex;
}

.profile-section-main {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
}

.profile-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tg-info-wrapper {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img {
    width: 100px;
    border-radius: 50%;
    box-shadow: #e89f10 0px 0px 10px 0px;
}

.at-symbol {
    font-size: 16px;
}

.username {
    font-size: 18px;
    font-weight: 900;
    background: linear-gradient(90deg, #f0c419, #e58f0d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stats-wrapper {
    width: 100%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1.5;
}

.stats-order-info {
    margin-top: 15px;
}

.stats-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stats {
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: italic;
}

.stats-stars {
    font-style: normal;
    font-weight: 900;
    color: #b1ff7f;
}

.stats-item-level {
    margin-top: 5px;
}

.stats-level {
    font-style: normal;
}

.stats-level-bronze {
    color: #cd7f32;
}

.stats-level-silver {
    color: #c0c0c0;
}

.stats-level-gold {
    color: #ffd700;
}

.stats-level-platinum {
    color: #eedfc2;
}

.stats-level-diamond {
    color: #00d1ff;
}

.level-info {
    width: 18px;
    height: 18px;
    position: relative;
}

.level-info-svg:hover ~ .level-tooltip {
    display: flex;
}

.level-tooltip {
    position: absolute;
    background-color: #000000e6;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    color: #fff;
    top: 28px;
    left: -66px;
}

.level-tooltip::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #000000e6;
    position: absolute;
    top: -6px;
}

body.es .level-tooltip span, body.fr .level-tooltip span {
    font-size: 13px;
}

.level-tooltip .discount {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-section-content-wrapper {
    display: flex;
    width: 100%;
}

.profile-section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 20px;
}

.profile-section-content .payment-form {
    max-width: 380px;
    width: 100%;
    gap: 0;
    padding: 0 20px;
}

.profile-section-content .terms-section {
    display: none;
}

.profile-section-content .wrapper {
    gap: 0;
}

.profile-section-content .btn-buy {
    margin: 0;
}

.profile-section-content .tm-search-field-error {
    margin: 2px 0 2px 20px;
    align-self: baseline;
}

.profile-section-content .myself {
    display: block;
}

.profile-section-content .tm-form-radio-label .tm-radio-desc {
    width: 100%;
    color: #21c500;
}

.profile-section-content .js-cur-price {
    margin-right: 8px;
    color: #8896a5;
    text-decoration: line-through;
}

.profile-section-content .js-discount-price {
    color: #21c500;
}

.empty-no-data-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #797676;
    gap: 10px;
    font-weight: 900;
}

@media screen and (max-width: 1024px) {
    .profile-section {
        flex-direction: column;
    }

    .profile-section-main {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .profile-section-main-wrapper {
        padding: 0 10px;
    }

    .profile-section-content-wrapper {
        padding: 0 10px;
    }

    .level-tooltip {
        top: -64px;
        left: -160px;
    }

    .level-tooltip::before {
        border-right: unset;
        border-top: 6px solid transparent;
        border-left: 6px solid #000000e6;
        border-bottom: 6px solid transparent;
        top: 67px;
        right: -6px;
    }
}