.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 60px;
}

.item-a {
    position: relative;
}

.item-a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.item-a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 255px;
    width: 100%;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-around;
    height: 60px;
    gap: 50px;
}

.navbar-sub-wrapper {
    display: flex;
    align-items: flex-start;
}

.navbar-items-wrapper {
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 20px;
}

.item-default {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.item {
    font-size: 16px;
    padding: 8px 0;
    color: #fff;
}

.item-selected {
    cursor: pointer;
}

.lang-bar-wrapper {
    position: relative;
}

.item-lang {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: .2s;
}

.item-lang:hover {
    color: #ffd528;
}

.lang-items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.lang-items-wrapper {
    background-color: #0d1117;
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 50%;
    transform: translate(55%, 30%);
    display: none;
    box-shadow: #8b949e 0px 0px 2px 0px;
    border-radius: 15px;
    width: 130px;
    padding: 20px 0;
}

.burger-btn {
    display: none;
    width: 30px;
    height: 30px;
}

.getUp__wrapper {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 80px;
    right: 100px;
    z-index: 20;
}

.getUp__arrowUp {
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #191b20;
    box-shadow: #ffd528 0px 0px 5px 0px;
}

.mobile-menu-container {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    display: none;
}

.mobile-menu-wrapper {
    width: 95%;
    margin: 50px auto 0;
    background-color: #0d1117;
    border-radius: 50px;
    padding: 20px 30px;
    box-shadow: #8b949e 0 0 5px 0px;
}

.mobile-menu-header {
    display: flex;
    justify-content: flex-end;
}

.mobile-menu-cross {
    width: 30px;
    height: 30px;
}

.mobile-menu-body {
    width: 100%;
    height: 100%;
}

.mobile-menu-title {
    color: #d4c9c9;
}

.mobile-menu-ul {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.mobile-menu-li {
    padding: 20px 0 5px;
}

.mobile-menu-body ul hr {
    width: 100%;
}

.mobile-menu-a {
    text-decoration: none;
    color: #fff;
}

.mobile-menu-profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.mobile-menu-a-profile {
    text-decoration: none;
    color: #fff;
    border: solid #fff 1px;
    border-radius: 20px;
    padding: 10px 20px;
    transition: .2s;
}

.mobile-menu-a-profile:hover {
    background-color: #fff;
    color: #000;
}

.navbar-profiler {
    gap: 10px;
}

.separator {
    width: 1px;
    height: 50%;
    border: solid #fff 1px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    nav {
        padding: 20px 10px;
    }
}

@media screen and (max-width: 820px) {
    nav {
        padding: 20px 30px;
        justify-content: space-between;
    }

    .navbar-wrapper {
        display: none;
    }

    .burger-btn {
        display: block;
    }

    .getUp__wrapper {
        right: 30px;
    }

    .navbar-items-wrapper {
        padding: 0;
    }

    .navbar-sub-wrapper {
        justify-content: center;
    }
}
