.profile_introducing-section {
    display: flex;
    padding: 20px 20px 0;
    gap: 10px;
}

.profile_introducing-section h1 {
    text-align: end;
    margin-bottom: 20px;
}

.profile_introducing-section b {
    font-weight: 900;
    color: #ecb117;
}

.profile_introducing-section p {
    color: #8b949e;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align-last: end;
    hyphens: auto;
}

.profile_introducing-section .star-img {
    margin-right: 10px;
}

.profile-img {
    width: 300px;
    max-width: 430px;
}

.profile_introducing-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile_introducing-content div {
    flex: 1;
}

body.ar .profile_introducing-content div {
    flex: 0;
}

.profile_introducing-content-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile_introducing-section .box {
    --clr-shadow__border: #956700;
    --clr-text: #F6F4EB;
    --clr-space: #120e1e;
    --clr-space-gr: #271950;
    --clr-star: #E9F8F9;
    position: relative;
    outline: 1px solid var(--clr-shadow__border);
    border-radius: 30px;
    margin-top: 20px;
}

.profile_introducing-section .button {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    background: transparent;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: var(--clr-text);
}

.profile_introducing-section .space {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    bottom: 0%;
    gap: 1.5rem;
    transition: 0.5s ease-in-out;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    background: linear-gradient( 160deg, var(--clr-space), var(--clr-space-gr));
}

.profile_introducing-section .box:hover .space {
    opacity: 1;
}

.profile_introducing-section .star {
    height: 4rem;
    width: 0.3rem;
    transition: 0.5s;
    border-radius: 50px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    position: relative;
    background-color: var(--clr-star);
    animation: space-animation calc(0.1s * var(--i)) linear infinite;
}

@keyframes space-animation {
    0% {
        transform: rotate(-30deg) translateY(calc(-52% * var(--i)));
    }

    100% {
        transform: rotate(-30deg) translateY(calc(52% * var(--i)));
    }
}

@media screen and (max-width: 768px) {
    .profile_introducing-section {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .profile-img {
        width: 100%;
        max-width: unset;
    }
}
